.container{
	border: 2px solid black;
	height: 500px;
	width: 500px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: flex;
	flex-wrap: wrap;
}

.grid{
	flex-basis: calc(100%/16);
	box-sizing: border-box;
	transition: background-color 0.3 ease;
}

.grid:hover{
	background-color: black;
}